<%- include('header/header') %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <div style="background:black; height: 250px; width: 100%; position: relative;">
            <div class="avatar" style="background: url('/img/icon/<%= user.avatar %>') no-repeat; background-position: center; background-size: 90px;">

            </div>
            <div class="avatar-name">
                <span style="color: #ffff"><%= user.name %></span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored"
                style="position: relative; right: -175px; top: 89px; z-index: 10;" id="show-dialog">
                <i class="material-icons">add</i>
            </button>
        </div>
        <nav class="mdl-navigation">
            <% rooms.forEach(function(room){ %>

            <a class="mdl-navigation__link" href="/rooms?room=<%= room._id %>">
                <%= room.name %>
            </a>

            <% }); %>
        </nav>
    </div>
    <main class="mdl-layout__content" style="background: #f1f1f1">
        <div class="page-content">

            <div style="height: 490px; background: #ffff; margin: 15px;overflow-y: scroll; border-radius: 10px">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <% for(var i=0; i< 250; i++) {%>
                        <p> Cont =>
                            <%= i %>
                        </p>
                        <% } %>
                    </div>
                </div>
                
                <div style="position: fixed; bottom: 5px; width: 80%; height: 130px; background: black; border-radius: 5px">
                    <form action="/rooms/menssager" method="post">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--10-col">
                                <div class="mdl-textfield mdl-js-textfield" style="height: 100%; width: 100%; padding-bottom: 17px">
                                    <textarea style="background: #ffff; border-radius: 5px 5px 0 0" class="mdl-textfield__input"
                                        type="text" rows="3" id="menssage" name="menssage"></textarea>
                                    <label class="mdl-textfield__label" for="menssage">Text lines...</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col" style="padding: 5px">
                                <button id="buttonSendMsg" style="height: 100%; width: 100%;" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                    <strong>Send</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Informa o Nome da Sala</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" value="" />
            <label class="mdl-textfield__label" for="roomName">Nome Room</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Exit</button>
        <button type="button" class="mdl-button" id="send">Send</button>
    </div>
</dialog>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io()
    socket.on('newRoom', room => {
        location.reload()
        console.log('Nova Sala ADD: ', room)
    })
    const dialog = document.querySelector('dialog');
    const showDialogButton = document.querySelector('#show-dialog');
    const sendRoomName = document.querySelector('#send');
    const room = document.getElementById('name')
    const sendButtonMsg = document.getElementById('buttonSendMsg')
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog)
    }
    showDialogButton.addEventListener('click', function () {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });

    sendRoomName.addEventListener('click', function () {
        let roomName = $('#name').val()
        if (roomName !== null) {
            socket.emit('addRoom', roomName)
            dialog.close();
        } else {
            console.error('Deu Ruim')
        }
    });

    sendButtonMsg.addEventListener('click', () => {
        
        if(typeof(window.location.search.split('=')[1]) !== typeof(undefined)){
            let msm = {
                author: '',
                msg: $('#menssage').val(),
                idRoom: window.location.search.split('=')[1]
            }
            teste(msm)
            $('#menssage').val('')
        }
        else {
            alert('Escolnha uma sala, para enviar a mensagem')
        }
    })

    function teste(menssager) {
        socket.emit('newMenssager', menssager)
    }

    



</script>


<%- include('footer/footer') %>